<div class="modal-backdrop is-hidden" id="trailer-modal-backdrop">
  <div class="modal-window trailer-modal-window">
    <button type="button" class="modal-close-btn" id="trailer-modal-close-btn">&times;</button>
    <div class="trailer-container">
      <iframe id="trailer-iframe" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="modal-backdrop is-hidden" id="trailer-error-backdrop">
  <div class="modal-window trailer-error-window">
    <button type="button" class="modal-close-btn" id="trailer-error-close-btn">&times;</button>
    <div class="trailer-error-content">
      <div class="trailer-error-text">
        <h2>OOPS...</h2>
        <p>We are very sorry!</p>
        <p>But we couldn’t find the trailer.</p>
      </div>
    </div>
  </div>
</div>